<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <div id="container" ng-app="app" ng-controller="mainController" ng-cloak>
        <form class="authForm" ng-show="!isLogged()">
            <input name="email" value="email" placeholder="Email" ng-model="user.email" />
            <input name="password" value="password" type="password" placeholder="Mot de passe" ng-model="user.password" />
            <button class="btnAuth" type="button" ng-click="login(user)">Login</button>
        </form>
        <div id="nav">
            <div class="icons">
                <a href="#/" ng-show="isLogged()"><i class="fa fa-home fa-2"></i></a>
                <a href="#/profile" ng-show="isLogged()"><i class="fa fa-user fa-2"></i></a>
                <a href="#/" ng-show="isLogged()" ng-click="logout()"><i class="fa fa-sign-out fa-2"></i></a>
            </div>
        </div>
        <form class="authForm" ng-show="!isLogged()">
            <input name="email" value="email" placeholder="Email" ng-model="newUser.email" />
            <input name="password" value="password" type="password" placeholder="Mot de passe" ng-model="newUser.password" />
            <button class="btnAuth" type="button" ng-click="createUser(newUser)">Create Account</button>
        </form>
        <!-- This will contain all the admin commands such as adding data only for admins-->
        <div ng-show="userRole=='admin' && isLogged()" ng-cloak>
            <p>Voici les commandes pour les admins</p>
            <p> Ajouter un village </p>
            <input name="village" value="village" placeholder="Nom du village" ng-model="newVillage" required/>
            <select ng-model="newLangue" required>
                <option disabled selected> -- select an option -- </option>
                <option ng-repeat="item in langues" value="{{item.$id}}">{{item.designation}}</option>
            </select>
            <select ng-model="newActivite" required>
                <option disabled selected> -- select an option -- </option>
                <option ng-repeat="item in activites" value="{{item.$id}}">{{item.designation}}</option>
            </select>
            <select ng-model="gratuite" required>
                <option disabled selected> -- select an option -- </option>
                <option>true</option>
                <option>false</option>
            </select>
            <button ng-click="ajouterVillage(newVillage, newLangue, newActivite, gratuite)">Ajouter le village</button>
            <p>Modifier le rôle d'un utilisateur</p>
            <select ng-model="selectedUser" required>
                <option disabled selected> -- select an option -- </option>
                <option ng-repeat="item in users" value="{{item.$id}}">{{item.email}}</option>
            </select>
            <select ng-model="role" required>
                <option disabled selected> -- select an option -- </option>
                <option>Admin</option>
                <option>Utilisateur</option>
            </select>
            <button ng-click="changerRoleUtilisateur(selectedUser, role)">Modifier le role</button>
        </div>
        <!-- Templates are inserted here -->
        <div ui-view ng-cloak>
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- AngularJS -->
    <script src="script/angular.min.js"></script>
    <!-- AngularUI router -->
    <script src="script/angular-ui-router.min.js"></script>
    <!-- Firebase -->
    <script src="script/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
    <script src="script/app.js"></script>
</body>

</html>
